.tabela {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    border: solid black 0px;
    border-radius: 25px;
    box-shadow: 2px 0px 5px 1px rgb(46, 46, 46);
}

td, th {
    border: 0px solid black;
    border-bottom: 3px solid black;
    padding: 10px;
}

td {
    text-align: center;
    border: 0px;
}

.borda-direita {
    border-right: 2px solid white;
    border-bottom: 2px solid black;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(78, 78, 78);
}

thead, tfoot{
    background-color: gray;
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

tbody > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-right: 3px solid black;
}

.info {
    border-right: 3px solid black;
}

.mes {
    border-right: 0px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: #150958;
}

.samuel {
    background-color: #FF0000;
}

.igor {
    background-color: #00FF00;
}

.gabriel {
    background-color: #FF00FF;
}

.vazio {
    background-color: rgb(158, 158, 158);
}

.cabecalho_esquerda {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    color: white;
    background-color: #150958;
}

.pe_resultado {
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    color: white;
    background-color: rgb(66, 66, 66);
    font-weight: bold;
}

body > main > article > h2 {
    margin-top: 50px;
}