.tabela {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    border: solid black 0px;
    border-radius: 25px;
    box-shadow: 2px 0px 5px 1px rgb(46, 46, 46);
}

td, th {
    border: 0px solid black;
    border-bottom: 3px solid black;
    padding: 10px;
}

td {
    text-align: center;
    border: 0px;
}

.borda-direita {
    border-right: 2px solid white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(78, 78, 78);
}

thead, tfoot{
    background-color: gray;
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

.novo_equip_botao {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    padding: 8px;
}

.novo_equip_botao:hover {
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
}

.novo_equip {
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
}

.icone_botao {
    background-image: url(../imgs/plus32.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.texto_botao {
    margin-left: 5px;
    cursor: pointer;
}

.icone_botao_saida {
    background-image: url(../imgs/minus32.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
}